# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# 가상환경
venv/
env/
ENV/

# 환경변수 파일 (민감 정보)
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite3

# Logs
*.log

# pytest
.pytest_cache/

#Front
node_modules/
frontend/node_modules/


# FastAPI
.mypy_cache/
.gitignore

